body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 0 0;
    margin: 0 0;
    height: 100vh;
    padding-bottom: 100px;
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 80%;
}

#stats{
    margin-right: 35px;
    padding: 0;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    padding: 0 15px;
    margin-bottom: 15px;
    width: 90%;
}

header h1{
    color: white;
}

p{
    color: white;
}

nav ul{
    list-style: none;
}

nav a{
    color: white;
    text-decoration: none;
}

#grid{
    width: 500px;
    height: 500px;
    background-color: rgb(71, 71, 71);
}

#rads{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#stats ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#stats ul li:hover{
    border-bottom: 2px solid yellow;
}

/*Change to radio buttons*/
li h4{
    padding: 0;
    margin: 0;
}

#dropWidth{
    display: flex;
    flex-direction: row;
}

#slider{
    width: 80px;
}